#bars-restaurants{
    width: 200vw;
    height: 85vh;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    transition: margin .7s ease-in-out;
}
.show-palce-detail{
    margin-left: -100vw;
}


#places-container{
    width: 100%;
    padding-top: 30px;
    overflow: hidden;
}

#places-title{
    width: 200px;
    text-align: center;
    font-family: font-primary;
    font-size: 40px;
    color: black;
    margin-top: 0;
}

#places{
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 10px;
    row-gap: 10px;
}

.place-img{
    width: 200px;
    height: 200px;
    margin: auto;
    object-fit: cover;
}


/* Details */
#place-details{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#show-all-places-btn{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 70px;
    color: white;
}

#place-detail-image{
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}

#place-detail-card{
    background-color: black;
    width: 100%;
    height: 50%;
    padding: 20px 15px;
    box-sizing: border-box;
}

#place-detail-name{
    color: white;
    margin: 0;
    font-size: 30px;
}

#place-detail-desc{
    color: white;
    width: 90%;
    word-break: break-all;
}



/* Effects */

.fade-in-from-top-right{
    animation: fade-in-from-top-right 0.7s ease-in-out forwards;
}
@keyframes fade-in-from-top-right{
    from{
        opacity: 0%;
        right: -80%;
        top: -80%;
    }

    to{
        opacity: 100%;
        right: 0%;
        top: 0%;
    }
}

.fade-in-from-bottom-left{
    animation: fade-in-from-bottom-left 0.7s ease-in-out forwards;
}
@keyframes fade-in-from-bottom-left{
    from{
        opacity: 0%;
        left: -50%;
        bottom: -50%;
    }

    to{
        opacity: 100%;
        left: 20px;
        bottom: 20px;
    }
}



@media screen and (min-width: 980px){
    #bars-restaurants{
        width: 100vw;
        height: 70vh;
        transition: none;
        padding-top: 50px;
        padding-bottom: 10px;
        grid-template-columns: 55% 50%;
    }
    .show-palce-detail{
        margin-left: 0;
    }


    #places-container{
        padding-top: 0px;
        height: 100%;
        grid-column: 2/3;
        grid-row: 1 /2;
    }

    .place-img{
        cursor: pointer;
        width: 150px;
        height: 150px;
    }


    /* Details */
    #place-details{
        grid-column: 1/2;
        grid-row: 1 /2;
    }

    #show-all-places-btn{
        display: none;
    }

    #place-detail-image{
        width: 75%;
        height: 60%;
        position: absolute;
        right: 0;
        top: 0;
    }

    #place-detail-card{
        width: 60%;
        height: 50%;
        padding: 20px 15px;
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

}



@media screen and (min-width: 1200px){
    #bars-restaurants{
        height: 85vh;
        grid-template-columns: 50% 50%;
    }

    .place-img{
        cursor: pointer;
        width: 200px;
        height: 200px;
    }

    /* Details */
    #place-detail-card{
        width: 50%;
    }
}
