.dropdown-container{
    position: relative;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-button{
    width: 35px;
    height: 35px;
    font-size: 20px;
}

.dropdown-menu{
    display: none;
    position: absolute;
    top: 50px;
    right: -5px;
    background-color: var(--color-primary);
    border: 3px var(--color-secondary) solid;
    color: var(--color-secondary);
    width: 45px;
}

.dropdown-menu-opened{
    display: block;
}

.dropdown-menu-item{
    width: 100%;
    height: 45px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropdown-menu-item:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}